.room-container {
    position: relative;
    z-index: 100;
    width: auto;
    height: 100vh;
}

.room-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .indicator-container{
    position: absolute;
    display: inline-block;
    width: 194%;
    height: 93%;

    z-index: 200;
} */

.bg-color {
    position: absolute;
    transform: translate(-50%, -50%);

    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
}

/* Click to discover overlay */

.chapter-title {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 52%;

    /* font-size: 3.2rem; */
    font-size: 3vh;
    color: var(--tertiary-fg-color) !important;
    max-width: 35%;
    margin: 0;

    opacity: 1.0;
    -moz-opacity: 1.0;
    -webkit-opacity: 1.0;

    z-index: 400;
}

.chapter-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 900;
}

.dark {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;

    width: 20vw;
    height: 15vh;
    border-radius: 100%;
    filter: blur(1rem);
    background-color: rgb(63, 35, 43);
    background-blend-mode: multiply;
    mix-blend-mode: multiply;

    opacity: 0.6;
    -moz-opacity: 0.6;
    -webkit-opacity: 0.6;

    z-index: 300;
}

#pointer {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 200;
    cursor: pointer;
}

/* Indikatoren */

.indicator {
    height: 36px;
    width: 36px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid;
    border-color: var(--tertiary-fg-color);

    display: flex;
    justify-content: center;
    align-items: center;

    rotate: 45deg;
    transition: background-color .2s linear;
    opacity: 1;

    transform-origin: center;
    z-index: 400;
}

.indicator:hover {
    cursor: pointer;
    background-color: rgba(170, 170, 170, 0.5);
    /* background-color: rgba(34, 25, 77, 0.5); */
}


.ind-number {
    font-size: 1.4rem !important;
    rotate: 315deg !important;
    color: var(--tertiary-fg-color);
}






/* Artikel Div Box */
/* .articles{
    position: absolute;
    width: 100vw;
    height: 0vh;
    z-index: 600;
    background-color: var(--main-bg-color); 
    overflow: scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    transition: 0.5s;
} */

/* .text-container{
    position: absolute;
    width: 55vw;
    height: auto;
    background-color: var(--secondary-bg-color); 
    
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-end;
} */

.articles {
    position: absolute;
    width: 100vw;
    height: 0vh;
    z-index: 600;
    background-color: var(--main-bg-color);
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: 0.5s;
}

.text-container {
    position: absolute;
    width: 55vw;
    height: auto;
    background-color: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15vh;
    padding-bottom: 10vh;
}

.article-text {
    width: 30vw;
    background-color: var(--secondary-bg-color);
}


/* Bilder */

.picture-container {
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 5vh;
}

.padding {
    padding-top: 1vh !important;
}

.square {
    position: relative;
    width: 49%;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.rectangle {
    position: relative;
    width: 100%;
}

.rectangle:after {
    content: "";
    display: block;
    padding-bottom: 50%;
}

.puffer {
    position: relative;
    width: 2vw;
}

.article-picture {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
}


.text {
    hyphens: auto;
    text-align: justify
}

.line {
    width: 20vw;
    height: 1px;
    background-color: var(--secondary-fg-color);
    margin-bottom: 4rem;
}

.closebtn {
    position: absolute;
    width: 30px;
    height: 30px;
    padding: 5px;
    top: 20px;
    right: 20px;

    z-index: 500;
    opacity: 0.4;
    transition: 0.5s;
}

.closebtn:hover {
    cursor: pointer;
    opacity: 1;
}

.closebtn:before,
.closebtn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 1px;
    background-color: #333;
    z-index: 500;
}

.closebtn:before {
    transform: rotate(45deg);
}

.closebtn:after {
    transform: rotate(-45deg);
}


/* .btn-line{
    width: 30px;
    height: 1px;
    background-color: var(--secondary-fg-color);
    rotate: 45deg;
}

.btn-line-2{
    width: 30px;
    height: 1px;
    background-color: var(--secondary-fg-color);
    rotate: 135deg;
} */

.headline {
    padding-top: 8vh;
}



#picture-gallery {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
    opacity: 0;
    /* display: none; */
    transition: 0.5s;
}

h3 {
    padding: 0.8rem 0 2rem 0;
    color: var(--tertiary-fg-color) !important;
}

.splide__arrow svg {
    fill: var(--tertiary-fg-color) !important;
}

.splide__pagination__page {
    border: 1px solid var(--tertiary-fg-color) !important;
}

.splide__pagination__page.is-active {
    background: var(--tertiary-fg-color) !important;
}

/* .splide__pagination__page:hover {
    background: rgba(170, 170, 170, 0.5);
} */

.splide {
    z-index: 500;
}

.splide__slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.splide__slide img {
    /* position: relative; */
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.dimmer {
    position: absolute;
    transform: translate(-50%, -50%);

    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    z-index: 300;
    background-color: rgba(49, 25, 32, 0.6);

    transition: 0.5s;
}

.right {
    position: relative;
    margin-left: auto;
    opacity: 0.9;
    padding: 20px !important;
    top: 43px;
    right: -27px;
}


.right:before,
.right:after {
    background-color: var(--tertiary-fg-color) !important;
    z-index: 700;

}


.change-person {
    position: absolute;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.cp-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 40vh;
    width: 80vw;

    z-index: 500;
    padding-bottom: 8vh;
}

.next {
    width: 25vw;
    padding-bottom: 0;
}

.persons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 4rem 0;
}

.persons img {
    height: 20vh;
    padding-right: 2vw;
}

.go-back {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.arrow {
    padding-right: 2vw;
}

#particles-leyen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    pointer-events: none;

    z-index: 200;
}


/* go back button */
.back a {
    padding: 12px 30px;
}

.back {
    margin-top: 4rem;
}

.click-indicator {
    visibility: visible;
    position: absolute;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    bottom: -27%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 900;
}



/* Tablett */
@media (max-width: 1400px) {


        /* Fixed version */
        /* .room-container {
            position: relative;
            z-index: 100;
            width: auto;
            height: 85vh;
            
        }
        
        .room-container img {
            width: 112%;
            height: 102%;
            object-fit: cover;
            transform: translateX(-8%);
        } */

    /* 100% version */
    /* .room-container {
        position: relative;
        z-index: 100;
        width: 100vw;
        height: auto;
    }

    .room-container img {
        width: 100vw;
        height: auto;
        object-fit: cover;
    } */

    /* Scroll Version */
    .room-container {
        position: relative;
        z-index: 100;
        width: 100%;
        height: 90vh;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .room-container img {
        width: 120%;
        height: 90vh;
        object-fit: cover;
    }


    /* Articles */

    .text-container {
        width: 70vw;
        margin-top: 15vh;
        padding-bottom: 14vh;
    }

    .line {
        margin-bottom: 4rem;
    }

    .article-text {
        width: 50vw;
    }

    .picture-container {
        width: 45vw;
    }

    .splide__slide img {
        width: 65%;
        height: 75%;
    }
    
    .splide__pagination {
        bottom: -4em;
      }

      .click-indicator{
        bottom: -20%;
      }

}

/* Mobile */
@media (max-width: 1050px) {

    .room-container {
        position: relative;
        z-index: 100;
        width: auto;
        height: 100vh;
    }
    
    .room-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

/* Articles */

.headline {
    font-size: 7vh;
}


.text-container {
    width: 70vw;
    margin-top: 15vh;
    padding-bottom: 14vh;
}

.line {
    margin-bottom: 4rem;
    margin-bottom: 2rem;
}


.article-text {
    width: 50vw;
}

.picture-container {
    width: 45vw;
}

.splide__slide img {
    width: 65%;
    height: 75%;
}

.splide__pagination {
    bottom: -4em;
  }

  .click-indicator{
    bottom: -20%;
  }

  .dark {
    width: 40vw;
    height: 26vh;
  }

  .chapter-title {
    font-size: 5vh;
}

.indicator {
    height: 30px;
    width: 30px;
}

.ind-number {
    font-size: 1.3rem !important;
  }

  .hamburger .ham-bar, .hamburger::after, .hamburger::before {

    background-color: var(--main-fg-color);
    background-color: #292929;
  }

  .white{
    color: white;
    color: #292929;
  }
}


/* Portrait */
@media screen and (orientation: portrait) {

    /* .room-container {
        position: relative;
        z-index: 100;
        width: 100%;
        height: 90vh;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .room-container img {
        width: 120%;
        height: 90vh;
        object-fit: cover;
    } */

    /* Scroll version */
    .room-container {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .room-container img {
        width: auto;
        height: 100vh;
        object-fit: cover;
        transform: translateY(-2%);
    }



    /* Articles */


    .text-container {
        width: 85vw;
        margin-top: 15vh;
        padding-bottom: 15vh;
    }

    .headline {
        padding-top: 8vh;
        /* font-size: 7vh; */
        font-size: 1.8rem;
        max-width: 75%;
        padding-bottom: 1rem;
    }

    .line {
        margin-bottom: 2.5rem;
        width: 37vw;
    }

    .article-text {
        width: 65vw;
    }

    .picture-container {
        width: 60vw;
    }

    .text {
        font-size: 0.85rem;
        line-height: 1.4rem;
    }

    .closebtn {
        top: 9px;
        right: 6px;
    }

    /* Gallery */

    .splide__slide img {
        width: 75%;
        min-height: 84%;
    }

    .splide {
        padding-top: 10%;
    }

    .splide__pagination {
        display: none;
    }

    .click-indicator {
        bottom: -20%;
    }

    /* Indikatoren */

    .indicator {
        height: 28px;
        width: 28px;
        border: 2px solid;
        border-color: var(--tertiary-fg-color);
    }


    .ind-number {
        font-size: 1.2rem !important;
    }

    /* Chapter */
    .chapter-title {
        max-width: 55%;
    }

    .dark {
        width: 70vw;
    }
}