/* MAIN */
main {
    background-color: var(--main-bg-color);
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}



/* Main Div */
.content {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6%;

    height: 100vh;
    width: 80vw;
}

/* Smaller Divs */
.content-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 80vh;
    width: 31vw;
}

.splide__slide {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 80vh;
    width: 40vw;
}

/* Items in Divs */
.portrait {
    height: 85%;
}

.logo {
    height: 25%;
    padding-bottom: 1rem;
}

.line {
    width: 280px;
    height: 1px;
    background-color: var(--secondary-fg-color);
    margin-bottom: 2rem;
}

.text {
    max-width: 85%;
}

/* RESPONSIVE */

/* Tablett */
@media (max-width: 1400px) {

    /* Main Div */


    .content {
        width: 80vw;
        padding-bottom: 10%;
    }

    /* Smaller Divs */
    .content-text {
        height: 80vh;
        width: 40vw;
    }

    .content-grafik {
        height: 70vh;
        width: 40vw;
    }

    /* Items in Divs */
    .portrait {
        height: 75%;
    }

    .hidden {
        display: none;
    }


    .line {
        width: 200px;
        height: 1px;
        margin-bottom: 2rem;
    }
}

@media (max-width: 1550px) {

    .text {
        max-width: 100%;
    }

}

/* Mobile */
@media (max-width: 1050px) {

    /* .hidden-text {
        display: none;
    } */

    /* Smaller Divs */
    .content-text {
        height: 80vh;
        width: 45vw;
    }

    .content-grafik {
        height: 75vh;
        width: 40vw;
    }

    .name {
        font-size: 6.5vh;
        max-width: 100%;
    }

    .line {
        width: 150px;
        height: 1px;
        margin-bottom: 1rem;
    }

    .portrait {
        height: 90%;
      }

      .hidden {
        display: none;
    }

}

/* Portrait */
@media screen and (orientation: portrait) {

    .splide__slide {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    /* Smaller Divs */
    .content-text {
        height: 38vh;
        width: 80vw;
        justify-content: center;
    }

    .portrait {
        height: 45%;
    }

    /* .marvingt-portrait{
        height: 44%;
    } */

    .line {
        width: 160px;
        height: 1px;
        margin-bottom: 1rem;
    }

    .text {
        max-width: 100%;
    }

    .bottom {
        position: absolute;
        bottom: -170%;
    }

    .name {
        font-size: 3.4vh;
        max-width: 75%;
        padding-bottom: 1rem;
    }

    .content {
        padding-bottom: 20% !important;
      }

}
