/* nunito-sans-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/nunito-sans-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../assets/fonts/nunito-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../assets/fonts/nunito-sans-v12-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../assets/fonts/nunito-sans-v12-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../assets/fonts/nunito-sans-v12-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../assets/fonts/nunito-sans-v12-latin-regular.svg#NunitoSans') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: "headlinefont";
    src: url("../fonts/lunary-free.ttf") format("truetype");
}

@font-face {
    font-family: "textfont";
    src: url("../fonts/Jost-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "textfont-italic";
    src: url("../fonts/Jost-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "textfont-medium";
    src: url("../fonts/Jost-Medium.ttf") format("truetype");
}

:root {
    --primary-bg-color: #F5ECDF;
    --secondary-bg-color: #ffffff;

    --main-fg-color: #242427;
    --secondary-fg-color: #37373b;
}

/* .no-overflow{
    overflow-x: hidden;
    overflow-y: auto;

    position: relative;
    height: 100%;
}  */

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    scroll-behavior: smooth;
    
}

body {
    background-color: var(--primary-bg-color);
    overflow-x: hidden;
    overflow-y: auto;

    position: relative;
    height: 100%;
}

@supports (-webkit-touch-callout: none) {
    body {
        width: -webkit-fill-available;
    }
    html {
        width: -webkit-fill-available;
    }
}

/* Exceptions */

.center {
    text-align: center !important;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center h2 {
    width: 40vw !important;
    text-align: center !important;
}

.center p {
    width: 35vw;
}

.column {
    flex-direction: column !important;
}

#bottom {
    bottom: 0 !important;
}

/* .margin-bottom{
    margin-bottom: 2.5rem !important;
} */

/* Fonts */

h1 {
    text-align: center;
    font-family: 'headlinefont', serif;
    font-size: 66px;
    color: var(--main-fg-color);
    max-width: 55%;
    /* 65% laptop */
    pointer-events: none;
    margin: 0;
    padding-bottom: 1.25rem;
}

h2 {
    text-align: left;
    font-family: 'headlinefont', serif;
    font-size: 44px;
    color: var(--main-fg-color);
    /* width: 100%; */
    pointer-events: none;
    margin: 0;
    padding-bottom: 1.25rem;
}

h3,
.table-h3, .ice-table-h3 {
    text-align: left;
    font-family: 'headlinefont', serif;
    font-size: 24px;
    color: var(--main-fg-color);
    /* width: 100%; */
    pointer-events: none;
    margin: 0;
    padding-bottom: 0.5rem;
    min-width: fit-content;
}

.table-h3 {
    text-align: center;
    width: 10%;
}



h4 {
    text-align: left;
    font-family: 'textfont-medium', Arial, sans-serif;
    font-size: 20px;
    color: var(--main-fg-color);
    /* width: 100%; */
    pointer-events: none;
    margin: 0;
    padding-bottom: 0.5rem;
}

p,
a{
    font-family: "textfont", Arial, sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1.125rem;
    color: var(--main-fg-color);
    text-decoration: none;
}

.hidden-text {
    display: block;
}



.nav-list a {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-content p {
    width: 35%;
    /* 45% laptop */
}

/* Button */

.primary-button {
    padding: 8px 40px;
    color: white;
    font-size: 16px;
    text-align: center;
    border: 1px solid var(--main-fg-color);
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    margin-top: 2rem;
}

.primary-button:hover {
    background-color: rgba(36, 36, 39, 0.1);
}

.primary-button span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}


/* Navbar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid var(--main-fg-color);
    z-index: 1000;
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    margin: 0;
    padding: 0;
    margin: 0 2% 0 2%;
}

.title,
.title a {
    font-family: 'headlinefont', serif !important;
    font-size: 30px;
    text-transform: none !important;
    text-decoration: none;
}

.nav-link {
    text-decoration: none;
    color: var(--main-fg-color);
    position: relative;
}

.nav-link.active::before {
    content: "";
    position: absolute;
    bottom: -2px;
    /* Abstand zum Navigationselement */
    left: 0;
    width: 100%;
    height: 1px;
    /* Dicke der Linie */
    background-color: var(--main-fg-color);
}

/* Scroll Nav */

.scroll-nav {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    z-index: 100;
}

.scroll-nav ul {
    list-style: none;
    padding: 0;
}

.scroll-nav li {
    margin-bottom: 12px;
}

.scroll-nav a {
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid var(--main-fg-color);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0);
}

.scroll-nav a:hover {
    background-color: rgba(36, 36, 39, 0.1);
}

/* Up-Button */
.up-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--main-fg-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;

    z-index: 300;
}

.up-button:hover {
    background-color: rgba(36, 36, 39, 0.1);
}

.up-button img {
    width: 30px;
    height: 30px;
    display: block;
}

/* Hero Banner */

.hero-banner {
    position: relative;
    height: 100vh;
    width: 100%;
    /* background: url('/assets/bg1.jpg') center/cover no-repeat;  */

    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
}

.hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 5%;
    width: 100%;
}

.arrow {
    position: absolute;
    bottom: -3%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15%;
    z-index: 300;
    cursor: pointer;
}

/* content */
.content {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-bg-color);
   
}

.inner-content {
    z-index: 20;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 65%;
    /* 73% laptop */
    height: 100vh;
}

.single-content-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* 73% laptop */
    height: 100vh;
}

.inner-single-content-container {
    display: flex;
    flex-direction: row;
    width: 65%;
}

.illustration {
    position: relative;
    height: auto;
    width: 32vw;
}

#illustration-2 {
    position: relative;
    height: auto;
    width: 100%;
}

/* #illustration-2-container{
    margin-top: 35vh;
} */

#illustration-3 {
    scale: 1.2;
}

.start-text {
    position: relative;
    height: auto;
    min-width: 32vw;
}

.buffer {
    min-width: 125px;
    height: auto;
}



/* Kästchen Sektion */


.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90vw;
}

.box {
    display: flex;
    flex-direction: column;
    /* flex-flow: row wrap; */
    align-content: center;
    justify-content: space-evenly;
    width: 220px;
    /*250px*/
    height: 240px;
    margin: 0 10px;
    border: 1px solid var(--main-fg-color);
    border-radius: 2px;
    text-align: left;
    padding: 20px;
    margin-top: 2.5rem;
}

.box-content{
    height: 100%;
}

.box:hover {
    background-color: rgba(36, 36, 39, 0.1);
}

.box a {
    text-decoration: solid var(--main-fg-color) !important;
}

.box p {
    font-size: 16px !important;
}

.method-img{
    height: 20%;
    width: auto;
    padding: 10px 0;
}

/*  test-section */

.test-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
}

/* message section */

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;
    overflow-x: hidden;
}

.line {
    position: relative;
    width: 100vw;
    height: 1px;
    background-color: var(--main-fg-color);
}

.line.line-top {
    top: 30%;
}

.line.line-bottom {
    bottom: 30%;
}

.message {
    position: relative;
    white-space: nowrap;
    animation: moveText 20s linear infinite;
    padding-bottom: 0 !important;
}

.message-container h1{
    font-size: 55px !important;
}

@keyframes moveText {
    0% {
        left: 100%;
    }

    100% {
        left: -100%;
    }
}

/* Footer */

.footer {
    position: relative;
    border-top: 1px solid var(--main-fg-color);
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* max-width: 1200px; */
    max-width: 65%;
    margin: 0 auto;
}

.footer-nav {
    display: flex;
    gap: 40px;
}

.footer-nav a {
    color: var(--main-fg-color);
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-copyright {
    font-size: 14px;
}

/* radial gradients */

.radial-gradient-container {
    height: 80vh;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    filter: blur(100px);
    z-index: 10;
    opacity: 0.9;
    overflow-x: hidden;

    user-select: none;
    pointer-events: none;
}

.radial-gradient-container div {
    position: absolute;
    border-radius: 50%;
    animation: gradient 4s infinite;
}

@keyframes gradient {
    70% {
        transform: scale(1.2) translate(100px);
    }
}


/* .radial-gradient-container:after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    backdrop-filter: blur(100px);
  } */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
/* input[type=number] {
  -moz-appearance: textfield;
} */

svg {
    height: auto;
    width: 100%;
}

.lottie-interactive {
    height: 100%;
    width: 100%;
}

.svg-container {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 55%;
}

rect.cls-4:hover {
    fill: rgba(36, 36, 39, 0.1);

}

rect,
.cls-5 {
    cursor: pointer;
}

#section6 {
    height: 100vh;
    justify-content: flex-end;
}


#flowers {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    position: relative;
    margin-top: 7vh;
    bottom: -10px;

    width: 100vw;
    height: auto;
}

#bee{
    position: relative;

align-self: flex-end;

    height: 28vh;
}

.pointer {
    cursor: pointer;
}

.backnforth {
    display: none;
}

.mobile-nav,
.hamburger,
.mobile-header {
    display: none;
}

.mobile{
    display: none;
}


  /* Media Query für Retina-Displays mit hoher Auflösung */
/* @media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  } */

  @media only screen 
  and (min-width: 1366px) 
  and (max-height: 1024px) 
  and (orientation: landscape) 
  and (hover: none)
  and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2) {
    .box-container {
        width: 80vw;
      }

      h1 {
        color: #fff;
    }
}

/* Tabletts */
@media only screen and (min-width: 769px) and (max-width: 1100px) and (orientation: landscape) {
    
    
    h1 {
        font-size: 55px;
        padding-bottom: 1.25rem;
        min-width: 70%;
      }

      h2{
        font-size: 40px;
      }

      .hero-content p {
        width: 50%;
    }

    .center p {
        width: 60vw;
      }

    .content-container {
        max-width: 75%;
      }

      .start-text {
        min-width: 47vw;
      }

      .illustration {
        width: 45vw;
      }

      .buffer {
        min-width: 10px;
      }

      .box {
        margin-top: 1.5rem;
      }

      #section4 h2{
        padding-bottom: 0rem !important;
      }

      #section4 .inner-content{
        padding-bottom: 1.125rem !important;
      }

          /* Message Box */

    .message-container {
        height: 30vh;
    }

    .message-container h1{
        font-size: 32px !important;
    }

    #gradient-canvas2 {
        height: 30vh !important;
        width: 100%;
        position: absolute;
    }

    #flowers {
        width: 120vw;
      }

    .footer-content {
        max-width: 90%;
    }

    .footer-content>* {
        padding-bottom: 2vh !important;
    }

    .up-button {
        width: 45px;
        height: 45px;
      }
}

/* Tablett Portrait */
/* Mobile */
@media only screen and (max-width: 1050px) and (orientation: portrait) {


    /* Fonts */

    h1 {
        font-size: 50px;
        max-width: 75vw;
        /* 65% laptop */
        padding-bottom: 1.25rem;
    }

    h2 {
        text-align: left;
        font-size: 33px;
        padding-bottom: 1.25rem;
        width: 60vw !important;
    }

    h3 {
        font-size: 24px;
        margin: 0;
        padding-bottom: 0.5rem;
    }


    h4 {
        text-align: left;
        font-size: 20px;
        padding-bottom: 0.5rem;
    }

    p,
    a,
    .table-text {
        font-size: 1.125rem;
    }

    .title,
    .title a {
        font-size: 24px;
    }

    .hero-content p {
        width: 55%;
    }

    .hidden-text {
        display: none;
    }

    /* .scroll-nav {
        display: none;
    } */

    .hero-content {
        padding-bottom: 15%;
    }

    .arrow {
        bottom: 0%;
      }

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 75%;
        height: auto;
    }

    .single-content-container {
        padding-bottom: 5vh;
    }

    .reverse {
        flex-direction: column-reverse !important;
    }

    .start-text {
        min-height: 35vh;
        padding: 25vh 0 5vh 0;
        width: 70vw;
    }

    .buffer {
        display: none;
    }

    .center,
    .center h2,
    .center p {
        width: 70vw !important;
    }

    /* Illustrationen */
    .illustration {
        position: relative;
        height: auto;
        width: 70vw;
    }

    #illustration-1,
    #illustration-3 {
        height: 50% !important;
    }

    #section4 {
        height: 100vh !important;
        /* width: 100vw;
        overflow-x: hidden; */
    }

    #illustration-2-container-mobile{
    margin-top: 15vh;
    width: 70vw !important;
}

    .mobile{
        display: block;
    }

    /* Methoden Boxen */

    .box-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 90vw;
    }

    .box {
        display: none;
        /* width: 90vw;
        height: 33vh; */
    }

    /* #section4 .center{
        text-align: left !important;
        align-items: flex-start;
    } */

    .box.active {
        display: flex;
        margin-top: 1.5rem;
    }

    .backnforth {
        z-index: 400;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 1.5vh;
        width: 262px;
        margin-top: 2.5rem;
    }

    #prevBtn {
        transform: rotate(90deg);
        margin-right: 2rem;
    }

    #nextBtn {
        transform: rotate(270deg);
    }

    /* button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 16px;
} */

    /* Fragerunde Box */

    #section6 {
        height: 85vh;
        justify-content: flex-end;
        width: 100vw !important;
        overflow: hidden;

    }

    #section6 img {
        width: 300vw;
    }

    #flowers{
      height: auto !important;
      width: auto !important;
    }

    #flowers-animation{
        width: 300vw;
    }

    /* Message Box */

    .message-container {
        height: 30vh;
    }

    .message-container h1{
        font-size: 35px !important;
    }

    #gradient-canvas2 {
        height: 30vh !important;
        width: 100%;
        position: absolute;
    }

    /* Footer */


    .footer-content {
        max-width: 90%;
    }

    .hidden {
        display: none;
    }

    .up-button {
        width: 45px;
        height: 45px;
      }
}

/* Mobile */
@media only screen and (max-width: 768px) and (orientation: portrait) {
    /* Fonts */

    h1 {
        font-size: 40px;
        max-width: 95vw;
        /* 65% laptop */
        padding-bottom: 1.25rem;
    }

    h2 {
        text-align: left;
        font-size: 33px;
        padding-bottom: 1.25rem;
        width: 90vw !important;
    }

    h3 {
        font-size: 24px;
        margin: 0;
        padding-bottom: 0.5rem;
    }


    h4 {
        text-align: left;
        font-size: 20px;
        padding-bottom: 0.5rem;
    }

    p,
    a,
    .table-text {
        font-size: 1.125rem;
    }

    .title,
    .title a {
        font-size: 24px;
    }

    .hero-content p {
        width: 90%;
    }

    .hidden-text {
        display: none;
    }

    .scroll-nav {
        display: none;
    }

    .hero-content {
        padding-bottom: 35%;
    }

    .arrow {
        bottom: 6%;
      }

    .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 90%;
        height: auto;
    }

    .single-content-container {
        padding-bottom: 15vh;
    }

    .start-text {
        min-height: 55vh;
        padding: 25vh 0 5vh 0;
        width: 90vw;
    }

    .buffer {
        display: none;
    }

    .center,
    .center h2,
    .center p {
        width: 90vw !important;
    }

    /* Illustrationen */
    .illustration {
        position: relative;
        height: auto;
        width: 90vw;
    }

    #illustration-1,
    #illustration-3 {
        height: 50% !important;
    }

    #section4 {
        height: 100vh !important;
        /* width: 100vw;
        overflow-x: hidden; */
    }

    #illustration-2-container-mobile{
    margin-top: 15vh;
    width: 100vw !important;
}

    .mobile{
        display: block;
    }

    /* Fragerunde Box */

    #section6 {
        height: 85vh;
        justify-content: flex-end;
        width: 100vw !important;
        overflow: hidden;

    }

    #flowers{
      height: auto !important;
      width: auto !important;
      scale: 1.25;
      bottom: 0;
    }

    /* Message Box */

    .message-container {
        height: 25vh;
    }

    .message-container h1{
        font-size: 26px !important;
    }

    #gradient-canvas2 {
        height: 25vh !important;
        width: 100%;
        position: absolute;
    }

    /* Footer */

    .footer-content {
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        max-width: 90%;
    }

    .footer-content>* {
        padding-bottom: 2vh !important;
    }


    /* Mobile Nav */

    .hidden, .nav-hidden {
        display: none;
    }

    .mobile-header {
        position: fixed;
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        z-index: 1000;
    }

    .title {
        padding-left: 5%;
    }

    .hamburger {
        position: absolute;
        display: block;
        width: 35px;
        cursor: pointer;
        right: 5%;

        appearance: none;
        background: none;
        outline: none;
        border: none;
    }

    .hamburger .ham-bar,
    .hamburger:after,
    .hamburger:before {
        content: '';
        display: block;
        width: 25px;
        height: 1px;
        background-color: var(--main-fg-color);
        margin: 6px 0px;
        transition: 0.4s;

    }

    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .hamburger.is-active .ham-bar {
        opacity: 0;
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-4px, -4px);
    }

    .mobile-nav {
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: none;
        bottom: 0;
       z-index: -10;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        transition: 0.3s ease-in;
        padding-top: 30%;
        opacity: 0;
    }

    .mobile-nav.is-active {
        opacity: 1;
        z-index: 800;
    }

    .hamburger-content a {
        text-align: left;
        margin: 0 auto;
        padding: 12px 0;
        font-family: 'textfont-medium', Arial, sans-serif;
    }

    .menu-item {
        padding-right: 0rem;
    }

    .hamburger-content {
        position: absolute;
        width: 90vw;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 32vh;
        padding-bottom: 10vh;
        line-height: 3;

    }

    #gradient-canvas3 {
        height: 100%;
        width: auto;
    }

    .up-button {
        width: 45px;
        height: 45px;
      }
}